.clear{
    clear: both;
}

.calendar{
    background-color: rosybrown;
    width: 280px;
    color: white;
}

.head{
    text-align: center;
    padding: 20px 0;
    color: gold;
    font-size: 20px;
}

.week{
    background-color: grey;
}

.day-week, .day{
    float: left;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.day.weekend{
color: red;
}

.day.current{
background-color:gold;
}
