
div {
    background-color: rosybrown;
    height: 30px;
    font-size: 14px;
    text-align: center;
}

h4{
    text-align: center;
    color: white;
    font-size: 16px;
}

div div{
    color: sienna;
}

.no_name{
    color: gray;
}

.days {
    color: white;
}

.weekend {
    color: red;
}

#first {
    color: white;
    background-color: sienna;
}   

