@font-face{
    font-family: 'brusdiregular';
    src: url('fonts/19037-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}

.header{
    background-color: gold;
    font-family: 'brusdiregular';
    text-align: center;
    background-image: url(img/phone.png) ;
    background-repeat: no-repeat;
    background-size: 35px;
}

.list{
    margin-top: 5px; 
}

.header-logo{
    width: 200px;
    display:block;
    margin: auto;
}

.watch{
    float: right;
    background-repeat: no-repeat; 
    width: 180px;
    height: 220px;  
    background-size: contain;
    }

.header-menu, .header-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu{
    background: black;
}

.header-menu a{
   color: white;
   font-size: 18px; 
}

.header-menu a:hover{
    color:gold;
}

.header div:first-child{
    margin-left: 40px;
    text-align: left; 
}

.header-menu > li{
    float: left;
    position: relative;  
}

.header-menu::after{
    content: "";
    clear: both;
    display: block;
}

.header-menu > li:hover ul{
    display: block;
}

.header-menu ul{
    display: none;
    position: absolute;
    left: 0; 
    top: 100%;
    background: black; 
}

.header-menu a{
    display: block;
    padding: 15px 10px;
    text-decoration: none;
}

.information{
    float: left;
    padding-left: 1px;
    padding: 30px 30px;
    color:black;
}

.information a{
    color: gold;
    text-decoration: none;
    font-weight: 600;
}

.information a:hover{
    color: black;
}

.text{
    text-align: justify;
    
}

.end{
    background-color: gold;
    width: 1024px;
}

   

